<div class="individual-movie-container">
    <a href="@movieURL">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p>
        <a href="@movieURL">@Movie.TitleBrief</a>
    </p>
    <p>Release: @Movie.ReleaseDate.Value.ToString("dd MMM yyyy")</p>
    <div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a href="/movies/edit/@Movie.Id" class="btn btn-info">Edit</a>
                <button type="button" class="btn btn-danger" onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
            </Authorized>            
        </AuthorizeView>

       @* <a href="/movies/edit/@Movie.Id" class="btn btn-info">Edit</a>
        @if (DisplayButtons)
        {
            <button type="button" class="btn btn-danger" onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        }*@
    </div>
</div>

@code {
    //parameters
    [Parameter]
    public Movie Movie { get; set; }
    [Parameter]
    public bool DisplayButtons { get; set; } = false; //set default value to false

    //event callbacks (delegate functionality to the parent)
    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

    private string movieURL = string.Empty;

    protected override void OnInitialized()
    {
        movieURL = $"/movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }

}
