@*adding the dependencies *@
@inject IMenuService menuService
@inject IOrderService orderService
@inject NavigationManager uriHelper

@*use a State class (with Singleton Pattern every component will share the same State instance),
and this makes it easy to communicate between components that are not in a parent-child relationship*@
@inject State State

@page "/"

<!-- Menu -->
<PizzaList Title="Our selection of pizzas"
           Menu="@State.Menu"
           Selected="@( async (pizza) => AddToBasket(pizza))" 
           ShowPizzaInformation="ShowPizzaInformation" />
<!-- End menu -->

<!-- Shopping Basket -->
<ShoppingBasket Title="Your current order"
                Basket="@State.Basket"
                GetPizzaFromId="@State.Menu.GetPizza"
                Selected="@( (pos)=> RemoveFromBasket(pos))" />
<!-- End shopping basket -->

<!-- Customer entry -->
<CustomerEntry Title="Please enter your details below"
               ButtonTitle="Checkout"
               ButtonClass="btn btn-primary"
               Customer="@State.Basket.Customer"
               Submit="@PlaceOrder" />
<!-- End customer entry -->

<!-- Only for Debugging -->
<p>@State.ToJson()</p>

@code {    
    // initialize the State.Menu property in the OnInitializedAsync life cycle method
    // never call asynchronous services in your Blazor component’s constructor; always use OnInitializedAsync or OnParametersSetAsync.
    protected override async Task OnInitializedAsync()
    {
        State.Menu = await menuService.GetMenu();
    }

    /* add pizza to the shopping basket */
    private void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
    }

    /* remove pizza from the shopping basket */
    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at pos {pos}");
        State.Basket.RemoveAt(pos);
    }

    /* send the order to the server */    
    private async Task PlaceOrder()
    {
        await orderService.PlaceOrder(State.Basket);
    }

    // sets the State’s CurrentPizza property and navigates using the NavigateTo method to the /PizzaInfo route
    private void ShowPizzaInformation(Pizza selected)
    {
        this.State.CurrentPizza = selected;
        //if you call NavigateTo as part of a callback, Blazor returns to the original route
        //that is why need to use a background Task so Blazor will navigate after the callback
        Task.Run(() => this.uriHelper.NavigateTo("/pizzainfo"));
    }
}