@*routing logic:
    AppAssembly="@typeof(App).Assembly" -> look for pages in this assembly
    PreferExactMatches -> exact match of url
    DefaultLayout="@typeof(MainLayout)" -> specify default layout
*@
<Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
    @*show this layout when routing find page*@
    <Found Context="routeData">
        @*defines the default layout*@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    @*show this layout when routing do not find page*@
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Ooops, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
