@page "/try"

@*include locally to this file*@
@*@using BlazorMovies.Client.Helpers;*@

@*for include globally to every Razor file in Client project place using statement in /Shared/_Imports.razor*@

@using static BlazorMovies.Client.Shared.MainLayout;

@*dependency injection of configured (in Program.cs) services*@
@inject SingletonService singletonService;
@inject TransientService transientService;
@inject IJSRuntime js;


<PageTitle>Try Razor</PageTitle>

<h1>Hello, @StringUtilities.CustomToUpper(name)</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Sum of 2 + 2 = @(2 + 2)</p>

<p>Cat say: @Cat.Speak()</p>

@*using event*@
<button @onclick="@(() => Console.WriteLine("The button was clicked!"))">Click Me!</button>

@*data binding*@
<p>Current count: @currentCount</p>
<input type="number" @bind="currentCount" />
@*eqivalent of:*@
<button @onclick="@(() => currentCount++)">Increment count</button>
@*@bind is an override of @bind-value with the event set to "onchange";
these two are equivalent: (@bind-value="currentCount" @bind-value:event="onchange") == (@bind="currentCount")*@

@*bind passed cascading parameters*@
<div style="display:flex">
    <div style="width: 150px">
        <select @bind="AppState.Color" class="form-control" style="margin-top: 15px;">
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
        </select>
    </div>
    <div style="width: 150px">
        <select @bind="AppState.Size" class="form-control" style="margin-top: 15px;">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30px</option>
        </select>
    </div>
</div>

<br />
<div>
    <h3 style="color: @AppState.Color; font-size:@AppState.Size">Movie</h3>
    <p>Title: @lotr.Title</p>
    <p>Release: @lotr.ReleaseDate.ToString()</p>
</div>

@*conditionals*@
@if (movies == null)
{
    <text>Loading...</text>
}
else
{
    @*loops*@
    <div>
        <h3>Movies</h3>
        @foreach (var movie in movies)
        {
            <p>Title: @movie.Title</p>
            <p>Release: @movie.ReleaseDate.ToString()</p>
        }

        <br />
        <h3>Movies</h3>
        @for (var i = 0; i < movies.Count; i++)
        {
            @*conditional style*@
            <div style="background-color: @(i % 2 == 0 ? "grey" : "lightgrey")">
                <p>@(i + 1). Title: @movies[i].Title</p>
                <p>Release: @movies[i].ReleaseDate.ToString()</p>
            </div>
        }
    </div>
}

@*try configured services*@
<button @onclick="IncrementServiceValue">Increment Service Value</button>
<p>Sigleton service value (it will be retained during navigation between routes and will be the same in all components): @singletonService.Value</p>
<p>Transient service value (it will be reset to 0 during navigation between routes): @transientService.Value</p>

@*invoke custom js function*@
<button @onclick="CallJsFunction">Call Custom JS function</button>
<br>
<button @onclick="CallStaticCSharpMethodFromJS">Call CSharp Static Method From JS</button>
<br>
<button @onclick="CallInstanceCSharpMethodFromJS">Call CSharp Instance Method From JS</button>


@*direct render html*@
<div>@((MarkupString)someHtml)</div>

@*default render fragment (works if only one reder fragment is used)*@
<TryDefaultRenderFragment>
    <span style="color: blue">Default RenderFragment as ChildContent</span>
</TryDefaultRenderFragment>

@*if there are more render fragments, use named render fragments*@
<TryNamedRenderFragment>
    <Hello><span>Hello, this is Hello RenderFragment</span></Hello>
    <Notify><span>This is Notify RenderFragment</span></Notify>
</TryNamedRenderFragment>

<button @onclick="@(() => confirmation.Show())">Open dialog</button>
<Confirmation @ref="confirmation" onCancel="Cancel" onConfirm="Confirm">
    <div>Hello, what do you want to do?</div>
</Confirmation>
        

@code {
    string name = "Danny";
    List<Movie> movies;
    private int currentCount = 0;

    //retrive the value of the cascading parameter (define in the MainLayout)
    //[CascadingParameter]
    //public string Color { get; set; }

    //retrive multiple cascading parameters (define in the MainLayout)
    [CascadingParameter(Name = "Color")]
    public string Color { get; set; }
    [CascadingParameter(Name = "Size")]
    public string Size { get; set; }

    //retrive the multiple values of the cascading parameter passed as a class instance (define in the MainLayout)
    [CascadingParameter]
    public AppState AppState { get; set; }


    public class Cat
    {
        public string Name { get; set; }
        public int Age { get; set; }
        public string Breed { get; set; }
        public static string Speak() => "Miauuuuuuuuu";
    }

    Movie lotr = new Movie()
        {
            Title = "LOTR: Fellowship of the rings",
            ReleaseDate = new DateTime(2002, 12, 25)
        };

    //lifehook invoked when component is ready to start (loads)
    //protected override void OnInitialized()
    //{
    //    movies = new List<Movie>()
    //    {
    //        new Movie(){Title = "LOTR: Fellowship of the rings", ReleaseDate = new DateTime(2002, 03, 22)},
    //        new Movie(){Title = "LOTR: Two towers", ReleaseDate = new DateTime(2003, 01, 10)},
    //        new Movie(){Title = "LOTR: Return of the king", ReleaseDate = new DateTime(2004, 01, 10)},
    //    };
    //    base.OnInitialized();
    //}

    //async variant of lifehook invoked when component is ready to start (loads)
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        movies = new List<Movie>()
        {
            new Movie(){Title = "Star Wars: A new hope", ReleaseDate = new DateTime(1977, 05, 25)},
            new Movie(){Title = "Star Wars: Empire strikes back", ReleaseDate = new DateTime(1980, 05, 21)},
            new Movie(){Title = "Star Wars: Return of the jedi", ReleaseDate = new DateTime(1983, 05, 25)},
        };

    }

    string someHtml = "<div>My name is: <b>Danny</b></div>";

    private void IncrementServiceValue() {
        singletonService.Value++;
        transientService.Value++;
    }


    /* using lifecycle methods */

    // used to initialize the component;
    // executed only once;
    // ideal stage for http reguests to fetching data to be displayed
    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized.");
    }

    // executed when component recieved all parameters and their values are assigned to respective properties;
    // executed every time the parameters are updated
    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet.");
    }

    // executed when component finish rendering (html is already displayed);
    // executed every time the component is rerendered
    // ideal stage to perform manipulations on html elements
    protected override void OnAfterRender(bool firsRender)
    {
        Console.WriteLine($"OnAfterRender. FirstRender={firsRender.ToString()}");
    }

    // use this method to indicate if we want to rerender a component after its initial rendering
    // ideal when have extensive operations on the component and temporary disable rerendering, and after finish operations enable rerendering again
    protected override bool ShouldRender()
    {
        return true;
    }

    //use this for call JS from C# code
    private async Task CallJsFunction()
    {
        // var confirmed = await js.InvokeAsync<bool>("confirm", $"Are you sure to delete {movie.Title}");

        //use function from created extension method
        var confirmed = await js.Confirm("Are you sure to call a custom extension IJSRuntime method?");

        if (confirmed)
        {
            //use created custom js fuction
            await js.LogFromCustomJsFunction("This is log from custom created JS function");
        }
    }    

    // use these for call C# static method from JS
    private static int staticCounter = 111;
    [JSInvokable]
    public static Task<int> GetStaticCounter() 
    {
        return Task.FromResult(staticCounter);
    }
    private async Task CallStaticCSharpMethodFromJS() 
    {
        await js.InvokeVoidAsync("dotnetStaticInvokation");
    }

    // use these for call C# instance method from JS
    private int instanceCounter = 222;
    [JSInvokable]
    public void GetInstanceCounter(){
        Console.WriteLine($"counter of invoked C# instance method into JS function is: {instanceCounter}");
    }
    private async Task CallInstanceCSharpMethodFromJS()
    {
        // params: 1-> JS function name; 2-> reference to the class' object which member is the method invoked in JS (here it is this instance)
        await js.InvokeVoidAsync("dotnetInstanceInvocation", DotNetObjectReference.Create(this));

        //e.g if we want to pass movie reference
        //var movie = new Movie();
        //await js.InvokeVoidAsync("dotnetInstanceInvocation", DotNetObjectReference.Create(movie));
    }   
    
    //create a reference to Confirmation dialog
    Confirmation confirmation;

    private void Confirm()
    {
        js.Log("Dialog is confirmed");
        confirmation.Hide();        
    }

    private void Cancel()
    {
        js.Log("Dialog is canceled");
        confirmation.Hide();
    }
}
